

/* about-me styling */


body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
    color: solid black;
    background-color: rgba(85, 171, 252, 0.712);
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

.default_image {
  margin-bottom: -40px;
}

.about-logo {
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-logo a:hover {
    color: white;
    transition: .3s;
}

.about-site-links {
    display: flex;
    flex-direction: row-reverse;
    font-size: 25px;
    float: left;
}

.about-site-links > a {
    text-decoration: none;
    color: black;
    margin: 0px 15px;
}

.about-site-links > a:hover {
    text-decoration: none;
    color: darkgrey;
    transition: .3s;
}