/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* styling */

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.main-logo a {
    color: darkgrey;
}

.main-logo a:hover {
    color: dodgerblue;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

.djz {
  float: left;
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}

.coder {
    font-size: 75px;
    font-family: 'Geostar', cursive;
    text-align: center;
    margin-top: 30px;
}

.coder p {
    margin-right: 80px;
}

.coder-content {
    margin-top: 20px;
}

.coder-content p {
    font-size: 20px;
    line-height: 1.8;
    margin-left: 400px;
    width: 60%;
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.projects p {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.SD {
    font-weight: 900;
    color: solid black;
    font-size: 20px;
}

.lg-cta {
    visibility: hidden;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.lg-cta a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.lg-cta a:hover {
    color: dodgerblue;
    transition: .3s;
}

.lg-cta p {
    font-size: 25px;
    color: darkgrey;
}

.lg-cta h3 {
    color: lightslategray;
    background-color: #231f20;
    font-size: 45px;
    text-align: center;
    align-content: center;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    padding: 0;
    top: 0;
    width: 100%;
    margin-left: 20px;
}

.logo a {
    text-decoration: none;
    font-size: 18px; 
    justify-content: space-between;
}

.site-links a {
    text-decoration: none;
    font-size: 40px;
    color: black;
    justify-content: space-evenly;
    margin: 0px 5px;
}

.site-links > a:hover {
    text-decoration: none;
    color: dodgerblue;
    transition: .3s;
}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.middle-img, .bottom-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  padding: 15px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 2;
}

.middle-content {
  display: flex;
  margin: 0 2% 20px;
  margin-top: 100px;
  justify-content: space-around;
}

.middle-content .container {
  padding-right: 1%;
  margin-top: 20px;
}

.middle-content .container:last-child {
  padding-right: 0;
}

.bottom-content {
  display: flex;
  margin: 0 2% 10px;
  justify-content: space-around;
}

.bottom-content .container {
  padding-right: 1%;
  margin-top: 20px;
}

.bottom-content .container:last-child {
  padding-right: 0;
}

.date {
    font-weight: 900;
    font-size: 25px;
    color: solid black;
}

.date p {
    line-height: 1.5;
}

.data-content p {
    text-align: center;
    padding: 0 auto;
}

.date-content {
    width: 65%;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 1280px) {
    .footer { 
        display: none;
    }

    .lg-cta {
        visibility: visible;
    }

    .site-links > a {
        font-size: 1.2rem;
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    color: white;
    margin-left: -20px;
    transition: .4s;
}

.fa:hover {
    color: rgb(173, 36, 173);
    transition: .3s;
}