/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* styling */

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    font-family: 'Montserrat', sans-serif;

    font-size: 1.5vh;
    color: solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

h3, .timer {
    margin: 0;
}

.coder {
    font-size: 95px;
    font-family: 'Geostar', cursive;
    text-align: center;
    margin-top: -150px;
    justify-content: center;
}

.coder-content p {
    font-size: 19px;
    line-height: 1.8;
    margin-left: 300px;
    width: 60%;
    text-align: center;
    align-content: center;
    font-family: 'Caveat', cursive;

}

.SD {
    font-weight: 900;
    color: crimson;
}

.projects {

}

.lg-cta {
    visibility: hidden;
    font-size: 20px;
    color: white;
    margin-bottom: -20px;
}

.lg-cta h3 {
    color: lightslategray;
    background-color: #231f20;
    font-size: 45px;
    text-align: center;
    align-content: center;
    font-family: 'Permanent Marker', cursive;
}


.logo {
    background-color: #231f20;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.site-links > a {
    text-decoration: none;
    color: #fff;
    margin: 0px 15px;
}

.site-links > a:hover {
    text-decoration: none;
    color: rgb(173, 36, 173);
    transition: .3s;
}

footer {
    width: 100%;
    color: #22283B;
    background: #f4f4f4;
    padding: 10px 0;
    border: 2px double #e0e0e0;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
 }

@media screen and (min-width: 1400px) {
    .footer { 
        display: none;
    }

    .lg-cta {
        visibility: visible;
    }

    .site-links > a {
        font-size: 1.2rem;
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    color: white;
    margin-left: -20px;
    transition: .4s;
}

.fa:hover {
    color: rgb(173, 36, 173);
    transition: .3s;
}