

.main-container {
    width: 100%;
    font-family: 'Andada', serif;

}

nav {
    width: 100%;
    justify-content: space-around;
    background-color: black;
}

.main-header {
    width: 100%;
    border: 2px;
    border-collapse: collapse;
    
}




