/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* styling */

body {
    background-image: url("https://images.unsplash.com/photo-1546146830-2cca9512c68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80");
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
}


h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

.djz {
  float: left;
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}

ul.topnav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(248, 248, 248, 0.897);
}

ul.topnav li a {
    font-size: 17px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: lightgrey;
}

ul.topnav li a.active {
    background-color: lightgrey;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 500px) {
    ul.topnav li.right, ul.topnav li {
        float: none;
    }
}

.coder {
    font-size: 75px;
    font-family: 'Geostar', cursive;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (max-width: 500px) {
    .coder {
        width: 100%;
        margin-left: 25px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .coder-content p {
        visibility: hidden;
    }
}

.coder p {
    margin-right: 80px;
}

.coder-content {
    margin-top: 20px;
}

@media screen and (max-width: 650px) {
    .coder-content {
        text-align: center;
        width: 80%;
    }
}

.coder-content p {
    font-size: 20px;
    line-height: 1.8;
    margin-left: 400px;
    width: 60%;
    text-align: center;
    align-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.stack {
    color: rgb(107, 86, 86);
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.stack-content {
    width: 76%;
    margin-left: 175px;
    margin-top: 16px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.non-stack {
    color: rgb(107, 86, 86);
    font-size: 55px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

.non-stack-content {
    width: 76%;
    margin-left: 175px;
    margin-top: 16px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.projects p {
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .projects p {
        width: 100%;
        margin-top: -375px;
    }
}

.SD {
    font-weight: 900;
    color: solid black;
    font-size: 20px;
}

.lg-cta p {
    visibility: visible;
    font-size: 30px;
    color: black;
    margin-top: 20px;
}

.lg-cta a {
    float: right;
    color: black;
    text-decoration: underline;
    font-size: 3    0px;
    margin-right: 60px;
}

.lg-cta a:hover {
    color: red;
    transition: .3s;
}

.lg-cta p {
    font-size: 25px;
    color: black;
}

.lg-cta h3 {
    color: lightslategray;
    background-color: #231f20;
    font-size: 45px;
    text-align: center;
    align-content: center;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    padding: 0;
    top: 0;
    width: 100%;
    margin-left: 20px;
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 80%;
    }
}

.logo a {
    text-decoration: none;
    font-size: 18px; 
    justify-content: space-between;
}

.site-links a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    margin: 3px 3px;
    margin-top: -3px;
    margin-right: 5px;
    margin-left: 12px;
}

.site-links > a:hover {
    text-decoration: none;
    color: darkgrey;
    transition: .3s;
}

.container {
  position: relative;
  width: 50%;
  max-width: 200px;
}

@media only screen and (max-width: 500px) {
    .container .devdeskque {
        width: 80%;
        visibility: visible;
    }
}

@media only screen and (max-width: 500px) {
    .container .todo {
        width: 80%;
        visibility: visible;
    }
}

@media only screen and (max-width: 500px) {
    .container .cafe {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    .container .timer {
        visibility: hidden;
    }
}

@media only screen and (max-width: 500px) {
    .container .speech {
        visibility: hidden;
    }
}

@media only screen and (max-width: 500px) {
    .container .game {
        visibility: hidden;
    }
}

.middle-img, .bottom-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 2;
  color: white;
  font-size: 16px;
  padding: 15px;
}

.container:hover .overlay {
  color: yellow;
}

.middle-content {
  width: 85%;
  display: flex;
  flex-direction: row;
  margin: 0 2% 20px;
  margin-top: 100px;
  justify-content: space-around;
}

.middle-content .container {
  padding-right: 1%;
  margin-top: 20px;
}

.middle-content .container:last-child {
  padding-right: 0;
}

.bottom-content {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 7% 20px;
  justify-content: space-around;
}

.bottom-content .container {
  padding-right: 1%;
  margin-top: 20px;
}

.bottom-content .container:last-child {
  padding-right: 0;
}

.date {
    font-weight: 900;
    font-size: 45px;
    color: solid black;
}

@media only screen and (max-width: 500px) {
    .date-content p {
        width: 100%;
        margin-left: 20px;
    }
}

.data-content p {
    text-align: center;
    padding: 0 auto;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.date-content {
    width: 85%;
    text-align: center;
    margin-left: 100px;
    margin-top: 70px;
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .middle-content { 
        display: none;
    }

    .lg-cta {
        visibility: visible;
    }

    .site-links > a {
        font-size: 1.2rem;
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    color: white;
    margin-left: -20px;
    transition: .4s;
}

.fa:hover {
    color: rgb(173, 36, 173);
    transition: .3s;
}