/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* styling */

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
}

#header {
  background-color: #f1f1f1; /* Grey background */
  padding: 50px 10px; /* Some padding */
  color: black;
  text-align: center; /* Centered text */
  font-size: 90px; /* Big font size */ 
  font-weight: bold; 
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0; 
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

.coder {
    font-size: 75px;
    font-family: 'Geostar', cursive;
    text-align: center;
    margin-top: 20px;
}

.coder-content p {
    font-size: 18px;
    line-height: 1.8;
    margin-left: 300px;
    width: 60%;
    text-align: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.SD {
    font-weight: 900;
    color: solid black;
    font-size: 20px;
}

.lg-cta {
    visibility: hidden;
    font-size: 20px;
    color: white;
    margin-bottom: -20px;
}

.lg-cta a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.lg-cta a:hover {
    color: dodgerblue;
    transition: .3s;
}

.lg-cta p {
    font-size: 25px;
    color: darkgrey;
}

.lg-cta h3 {
    color: lightslategray;
    background-color: #231f20;
    font-size: 45px;
    text-align: center;
    align-content: center;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    background-color: #231f20;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-links > a {
    text-decoration: none;
    color: #fff;
    margin: 0px 15px;
}

.site-links > a:hover {
    text-decoration: none;
    color: dodgerblue;
    transition: .3s;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid crimson;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container-left {
    left: 0;
}

.container-right {
    left: 50%;
}

.medium a {
    color: crimson;
}

.lambda a {
    color: crimson;
}

.container-left::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium lightgray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.container-right::before {
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.container-right::after {
    left: -16px;
}

.content {
  padding: 60px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px; 
}

.timeline::after {
    left: 31px;
}

.container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; 
}

.container::before {
    left: 60px;
    border: medium lightgray;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.container-left::after, .container-right::after {
    left: 15px;
}

.container-right {
    left: 0%;
}

footer {
    width: 100%;
    color: #22283B;
    background: #f4f4f4;
    padding: 10px 0;
    border: 2px double #e0e0e0;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width: 1400px) {
    .footer { 
        display: none;
    }

    .lg-cta {
        visibility: visible;
    }

    .site-links > a {
        font-size: 1.2rem;
    }
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    color: white;
    margin-left: -20px;
    transition: .4s;
}

.fa:hover {
    color: rgb(173, 36, 173);
    transition: .3s;
}