/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* CSS sprint challenge below */

h2, h3 {
    font-size: 20px;
}

body {
    background-color: solid black;
}

.success-image {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: left;
}

span h1 {
    margin-top: -10px;
    font-size: 20px;
    font-family: 'Bitter', serif;
    text-align: left;
}

.dj-title {
    margin-top: -10px;
}

.dj-image {
    margin-top: 40px;
}

.nav {
    justify-content: space-between;
    height: 15%;
    width: 95%;
    margin-bottom: 40px;
    margin-top: 12px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
}

.nav-link {
    margin-right: 60px;
	text-decoration: none;
    color: black;
    font-size: 25px;
}

.links a:hover{
    opacity: .2; 
}

p {
    line-height: 2;
}

span {
    font-weight: 800;
    margin-bottom: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 2px dashed black;
}

.top-content .text-container {
    width: 45%;
    padding: 0 1%;
    padding-bottom: 20px;  
    margin-top: 20px;
}

.middle-content {
    margin: 0;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box-1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-2 {
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-3 {
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-4 {
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-5 {
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-6 {
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-7 {
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-8 {
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-9 {
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box-10 {
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
    margin-top: 20px;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.middle-content-data  {
    display: flex;
    margin-bottom: 20px;
}

.middle-data {
    padding-right: 2%;
    padding-left: -2%;
    margin-top: 20px;
    justify-content: space-between;
}

.bottom-data {
    padding-right: 2%;
    margin-top: 20px;
}

.bottom-content-data {
    display: flex;
    margin-bottom: 20px;
}

.bottom-content-lets-work-together {
    padding-bottom: 20px;
}

.top-image-one {
    margin: 0;
    margin-top: 20px;
}

.top-image-two {
    margin: 0;
    margin-top: 20px;
    margin-left: 80px;
}

.final-top {
    display: flex;
}

.bottom-image-one {
    margin: 0;
    margin-top: 20px;
}

.bottom-image-two {
    margin: 0;
    margin-top: 20px;
    margin-left: 80px;
}

.final-bottom {
    display: flex;
}

.middle-lm {
    border: 2.5px solid black;
    border-radius: 5px;
    padding: .5rem;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
}

.bottom-lm {
    border: 2.5px solid black;
    padding: .5rem;
    margin-top: 20px;
    border-radius: 5px;
    display: inline-block;
}

.about-section p {
    justify-content: center;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

footer {
    width: 100%;
    background: black;

}

footer nav {
    width: 70%;
    margin-left: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 22px 2%;
    font-size: 16px;
}

footer nav a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
}

.fa {
    padding: 10px;
    font-size: 20px;
    border-radius: 100px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
}

.fa:hover {
    opacity: .6;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #cb2027;
    color: white;
}

.fa-github {
    background: #c9510c;
    color: white;
}