.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(4, 13, 43);
}

.navbar_link {
    margin: .75em;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .3em;
    text-indent: .4em;
    color: rgb(224, 170, 179);
    border-bottom: 2px solid transparent;
}