body {
    background-image: url(https://steemitimages.com/1200x630/https://s3-us-west-2.amazonaws.com/steemhunt/production/steemhunt/2019-04-15/e658ee24-logo.png);
    background-repeat: no-repeat;
    background-size: 47% 100%;
    background-color: white;
}

.topnav {
    background-color: black;
    overflow: hidden;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #4CAF60;
    color: white;
}

.topnav a.active {
    background-color: #4CAF60;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}