/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Andada', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Andada', sans-serif;
}

/* styling */

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
    color: solid black;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 10px 14px;
}

.default_image {
  margin-bottom: -40px;
}

.projects-logo {
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects-logo a:hover {
    color: dodgerblue;
    transition: .3s;
}

.projects-site-links {
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
    float: left;
}

.projects-site-links > a {
    text-decoration: none;
    color: black;
    margin: 0px 15px;
}

.projects-site-links > a:hover {
    text-decoration: none;
    color: dodgerblue;
    transition: .3s;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 15px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: flex;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 1, 0.4);
  margin-top: 100px;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(15, 106, 197);
  transition: .3s;
}

footer {
    width: 66%;
    color: #22283B;
    background: #f4f4f4;
    border: 2px double #e0e0e0;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
 }

@media screen and (min-width: 1200px) {
    .footer { 
        display: none;
    }

    .lg-cta {
        visibility: visible;
    }

    .site-links > a {
        font-size: 1.2rem;
    }
}

.fa {
    border-radius: 100px;
    width: 40px;
    text-decoration: none;
    margin: 5px 4px;
    color: white;
    transition: .4s;
}

